<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" verbose="1">
    <test name="Regression">
        <classes>
            <class name="org.corporatePortal.CorporatePortalOurSitesTest"/>
            <class name="org.mutualFunds.GetMutualFunds"/>
        </classes>
    </test>
</suite>